.card {
    &.card-spacing {
        margin: 0.25rem; /* Diminuído de 0.5rem */
    }
    &.card-size {
        width: 2rem; /* Diminuído de 6rem */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        &.card-spacing {
            margin: 0.5rem; /* Diminuído de 1rem */
        }
        &.card-size {
            width: 5rem; /* Diminuído de 14rem */
        }
    }
}

@media (min-width: 992px) {
    .card {
        &.card-spacing {
            margin: 0.5rem; /* Diminuído de 1rem */
        }
        &.card-size {
            width: 8rem; /* Diminuído de 20rem */
        }
    }
}

.card-value{
    display: flex;
    padding-top: 10px;
}

.card-winnings{
    display: flex;
}

.buy-button{
    display: flex;
    margin-right: 20px;
}

.edit-button{
    display: flex;
}

.remove-button{
    display: flex;
    margin-left: 20px;
}

@media (max-width: 2560px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 15px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 15px;
        font-family: Arial;
    }
}

@media (max-width: 1440px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 15px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 15px;
        font-family: Arial;
    }
}

@media (max-width: 1024px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 10px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 10px;
        font-family: Arial;
    }
}

@media (max-width: 768px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 15px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 15px;
        font-family: Arial;
    }
}

@media (max-width: 425px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 10px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 10px;
        font-family: Arial;
    }
}

@media (max-width: 375px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 10px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 10px;
        font-family: Arial;
    }
}

@media (max-width: 320px) {
    .card-value{
        display: flex;
        padding-top: 10px;
        font-size: 10px;
        font-family: Arial;
    }
    
    .card-winnings{
        display: flex;
        margin-right: 100px;
        font-size: 10px;
        font-family: Arial;
    }
}