.row {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 10px;
}

.row input {
    flex: 1;
    //margin-right: 10px;
}

.button_create_card{
    margin-top: 25px;
}

.card_value_createpage{
    margin-top: 10px;
    align-items: center;
}

.input-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.input-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.input-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.input-grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.button_back_createcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}