.row {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 10px;
}

.bingocardcreatepage-class{
    background-color: #a3a1a1;
    height: 100000000000000%;
}

.select_gridsize{
    display: flex;
    margin-top: 20px;
}

.row input {
    flex: 1;
    //margin-right: 10px;
}

.button_create_card {
    margin-top: 25px;
}

.card_value_createpage {
    margin-top: 10px;
    align-items: center;
}

.input-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}


.input-grid-3-3 {
    grid-template-columns: repeat(3, 1fr);
}

.input-grid-3-4 {
    grid-template-columns: repeat(4, 1fr);
}

.input-grid-4-4 {
    grid-template-columns: repeat(4, 1fr);
}

.input-grid-4-3 {
    grid-template-columns: repeat(3, 1fr);
}

.button_back_createcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.card-value-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 2560px) {
    .button-back-create-card{
        font-size: 10px;
    }
}

@media (max-width: 1440px) {
    .button-back-create-card{
        font-size: 10px;
    }
}

@media (max-width: 1024px) {
    .button_back_createcard{
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .button_back_createcard{
        font-size: 10px;
    }
}

@media (max-width: 425px) {
    .button_back_createcard{
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .button_back_createcard{
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .button-back-createcard{
        font-size: 10px;
    }
}