.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.butao_signin {
    border-radius: 20px; 
    display: flex;
    align-items: center;
}

.google-icon {
    width: 20px;
    height: 20px;
    background-image: url('https://freesvg.org/img/1534129544.png');
    background-size: cover;
    margin-right: 10px;
}

.logo {
    width: 400px; /* Reduzindo a largura do logotipo */
    height: auto; /* Mantendo a altura proporcional */
}
